<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://erp.techzoraglobal.com/css/common.css">
    <link rel="stylesheet" href="https://erp.techzoraglobal.com/assets/css/soft-ui-dashboard.css">
    <link rel="stylesheet" href="http://127.0.0.1:8000/assets/css/soft-ui-dashboard.css?v=1.0.3">
    <link rel="stylesheet" href="http://127.0.0.1:8000/css/common.css">
    <script src="http://127.0.0.1:8000/assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="g-sidenav-show  bg-gray-100">
    <div class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 ">
      <ul class="navbar-nav"></ul>
    </div>
      <div class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg "> 
        <div class="container-fluid py-4">
          <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs">
                              <li class="nav-item">
                                  <div id="holiday-list"></div>
                              </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                  <div class="card-body">
                      <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <div id="leave-details"></div>
                            </li>
                      </ul>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    <!-- built files will be auto injected -->
  </body>
</html>
