<template>
  <DashboardHoliday/>
</template>

<script>

import DashboardHoliday from './components/DashboardHoliday.vue'
export default {
  name: 'App',
  components: {
    DashboardHoliday
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
