<template>
      <div v-if="type === 'holiday'">
          <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#">Upcoming Holiday</a>
            </li>
          </ul>
          <div style="height: 270px; overflow-y: auto;">
              <div class="tab-content mt-3">
                  <div id="holiday" class="tab-pane active">
                      <ul style="list-style: none; padding: 0;">
                          <li v-for="holiday in upcomingHolidays" :key="holiday.id">
                          <h6 class="mb-1 text-dark font-weight-bold text-sm">{{ holiday.event }}</h6>
                          <span class="text-xs">{{ holiday.date }}</span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
        <div v-if="type === 'leave'">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#">Leave Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#">Upcoming Leaves</a>
                </li>
            </ul>
            <div style="height: 270px; overflow-y: auto;">
                <div class="tab-content mt-3">
                    <div id="leaveDetail" class="tab-pane active">
                        <ul style="list-style: none; padding: 0;">
                            <li v-for="leave in upcomingLeave" :key="leave.id">
                                <span class="text-xs">{{ leave.user.name }}</span> 
                                <h4 class="mb-1 text-dark font-weight-bold text-sm">{{ leave.reason }}</h4>
                                <span class="text-xs">{{ leave.start_date }} to {{ leave.end_date }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div v-if="pendingLeaves.length > 0">
            <li v-for="pending in pendingLeaves" :key="pending.id">
              {{ pending.leave_type }} leave from {{ pending.start_date }} to {{ pending.end_date }} ({{ pending.status }})
            </li>
        </div>
        </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    name: 'DashboardHoliday',
    props: {
      type: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        upcomingHolidays: [],
        upcomingLeave: [],
        pendingLeaves: []
      };
    },
    created() {
      this.fetchUpcomingData();
    },
    methods: {
      async fetchUpcomingData() {
        try {
          const response = await axios.get('http://127.0.0.1:8000/api/v1/dashboard', {
            headers: {
              'Response': 'json',
              'Authorization': 'Bearer PAe/eA6Jqpwd/qiK4R+KHZeDhABzCRo2UxhIWFrjttwoR5kaaPmnvg=='
            }
          });
          console.log("Type:", this.type);
          console.log("Pending leaves Response Data:", response.data.pendingLeaves);

          if (this.type === 'holiday') 
          {
            this.upcomingHolidays = response.data.upcomingHoliday;
            console.log("Upcoming Holidays:", this.upcomingHolidays);
          } 
          else if (this.type === 'leave') 
          {
            this.upcomingLeave = response.data.upcomingLeaves;
            console.log("Upcoming Leaves:", this.upcomingLeave);
          } 
          if (response.data.pendingLeaves && response.data.pendingLeaves.length > 0) {
            this.pendingLeaves = response.data.pendingLeaves;
            console.log("Pending Leaves:", this.pendingLeaves);
          } else {
            this.pendingLeaves = []; 
            console.log("No Pending Leaves found.");
          }
        } 
        catch (error) {
          console.error('Error fetching data:', error);
        }
      }
    }
  };
</script>
  