<!-- <template>
    <div>
      <h2>Leave Request</h2>
      <ul>
        <li v-for="leave in upcomingLeave" :key="leave.id">
          <span>{{ leave.user.name }}</span> 
          <h4>{{ leave.reason }}</h4>
          <span>{{ leave.start_date }} to {{ leave.end_date }}</span>
        </li>
      </ul>
    </div>
  </template>
  
  <script>
  export default {
    props: ['upcomingLeave'],
  };
  </script>
   -->