<!-- <template>
    <div>
      <h2>Upcoming Leaves</h2>
      <ul>
        <li v-for="pending in pendingLeaves" :key="pending.id">
          {{ pending.leave_type }} leave from {{ pending.start_date }} to {{ pending.end_date }} ({{ pending.status }})
        </li>
      </ul>
    </div>
  </template>
  
  <script>
  export default {
    props: ['pendingLeaves'],
  };
  </script>
   -->